body, html {
    width: 100%;
    height: 100vh;
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  footer {
    width: 100%;
    background-color: #100840;
    color: #fff;
    
  }
  footer .div_1{
    margin-top: 25px;
    height: 120px;
    display: flex;
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-bottom-color:#c6beb6 ;
  }
  footer .div_1 h3{
    margin:80px;
    font-size: 22px;
    font-weight: 700;
  }
  footer .div_1 ul {
  display: flex;
  margin: 60px;
  margin-left: 600px;
  width: 100%;
  height: 80px;
  }
  footer .div_1 ul li {
    margin-left: 10px;
  }
  
  footer .div_1 button{
    width: 200px;
    height: 50px;
    margin: 40px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
  }
  footer .div_2{
    display: flex;
    margin-left: 50px;
  }
  footer .div_2 ul li input{
    height: 30px;
    color: black;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    outline-color: peru;
}
footer .div_2 ul li button{
    border-color: blue;
    background-color: blue;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
    

  footer .div_2 ul h3{
    text-transform: capitalize;
    text-decoration: dotted;
    
  }
  footer .div_2 ul li{
    margin-top: 10px;
    text-transform: capitalize;
    opacity: .8;
    font-weight: 600;
  }
  
  footer .div_3{
    background-color: #100840;
    width: 100%;
    height: 50px;
    margin-top: 25px;
  }
   footer .div_3 p{
   opacity: .6;
   text-transform: capitalize;
   margin-left: 90px ;
   
  }
  